<div class="test">
    <div class="form-structor">
        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login">Connexion</h2>
                <div class="form-holder">
                    <input type="email" class="input" placeholder=" Email"/>
                    <input type="password" class="input" placeholder=" Password" />
                </div>
                <div class="class-btn">
                    <button class="submit-btn" ng-click="goToAccueil()">Se connecter</button>
                </div>
                
                <p class="pasCompte">Pas de Compte ? <a class="couleur-lien" href="" ng-click="goToInscription()"> Inscription </a></p> 
                
            </div>
        </div>
    </div>
</div>

