<nav class="navigation"> 
    <!---
    <label class="switch">
        <input ng-change="goToEte()" type="checkbox"><span class="slider round"></span>
    </label>
-->
    <input class="search" type="text" placeholder="Rechercher une station..."
        ng-model="filter_name">
</nav>


<div class="page-home">

    <!-- CARTE PAR STATION -->
    <div class="station-card boxshad" ng-repeat="station in stations | toArray:false | filter : filter_name : station_name" 
        ng-click="gotoStation(station.station_uid)">   
        <div class="station-left">
            <div class="station-name"
                style="font-size: {{ transformNameInSize(station.station_name) }}%; ">
                {{ station.station_name }}  
            </div>
            <div class="station-alt"> 
                <div class="desc-acc" id="prix-acc">
                    <i class="fas fa-euro-sign" style="color: rgb(52, 152, 219, 1)"></i>
                    58
                </div>
                <div class="desc-acc" id="alt-min">
                    <i class="fas fa-skiing" style="color: rgb(52, 152, 219, 1)"></i>
                    {{ station.p_pistes_ouvertes }} 165/170
                </div>
                <div class="desc-acc" id="alt-max">
                    <i class="fas fa-map-marked-alt" style="color: rgb(52, 152, 219, 1)"></i>
                    Alpes Nord
                </div>
            </div>
        </div> 

        <div class="station-right">
            <div class="station-weather weather-icon"> 
                <i class="fas fa-{{ station.weather }}" style="color: {{ color(station.weather) }}"></i>  
            </div>
            <div class="station-weather">
                {{ station.temperature }}
            </div>
        </div>
    </div> 



</div>  





