<div class="test">
    <div class="form-structor">
        <div class="login slide-up">
            <div class="center">
                <h2 class="form-title" id="login">Inscription</h2>
                <div class="form-holder">
                    <input id="form-email" type="email" class="input" placeholder=" Email"/>
                    <input id="form-pass" type="password" class="input" placeholder=" Password" />
                </div>
                <div class="class-btn"> 
                    <button class="submit-btn" ng-click="registerclient()">S'inscrire</button>
                </div>
                
                <p class="pasCompte">Déjà un Compte ? <a class="couleur-lien" href="" ng-click="goToConnexion()"> Connexion </a></p> 
                
            </div>
        </div>
    </div>
</div>

